<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>2b83af42-0af4-47e3-91c5-9feed83be4cb</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>2b83af42-0af4-47e3-91c5-9feed83be4cb</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>8AC8A889413D48DE07968DF9E606E78E</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
