<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DatabaseServer" value="(local)" />
        <add key="DatabaseName" value="DNN_Test" />
        <add key="DatabaseOwner" value="dbo." />
        <add key="ObjectQualifier" value="dnn_" />
        <add key="FilePath" value="D:\\My Web Sites\\DotNetNuke Development" />
    </appSettings>
</configuration>